{
	"TwitterApiKey" : "",
	"TwitterApiSecret" : "",
	"TwitterAccessToken" : "",
	"TwitterAccessTokenSecret" : "",
	"GoogleApiCredentialsFile" : "client_secret.json",
	"SpreadsheetId" : "",
	"SheetIndex" : 0,
	"defaultMinFollowers" : 1000,
	"defaultMaxFollowers" : 50000
}